/* Stylesheet speicific to the about page */
#hero {
    height: 50vh;
}

/* Start of Responsive styling for Page Hero Section */
@media (min-width: 400px) {
    #hero {
        margin-bottom: 0;
        height: 50vh;
    }
}

@media (min-width: 600px) {
    #hero {
        margin-bottom: 0;
        height: 60vh;
    }
}
/* End of Responsive styling for Page Hero Section */

/* Start of Styling for Projects Section */
.project-section {
    /* TODO: find a robotic font for project section */
    font-family: Consolas, 'Courier New', monospace;
}

.project-file {
    max-height: 14rem;
    border: 1px solid gray;
    border-radius: 4px;
    padding-top: 0.5rem;
    padding-bottom: 0.7rem;
    padding-bottom: 5px;
    overflow-y: auto;
}

.project-title {
    display: flex;
    flex-direction: column;
    font-size: .8rem;
    margin-left: 10px;
}

.project-link {
    font-weight: bold;
    color: black!important;
}

.project-link:hover {
    text-decoration: underline!important;
}

.project-file-icon {
    font-size: 2rem;
    margin: 1px 10px;
}

.project-file-icon:hover {
    font-size: 2.2rem!important;
    margin-top: -2px;
}

.project-file-header {
    display: flex;
}

.project-file-title {
    display: flex;
    flex-direction: column;
    line-height: 19px;
}

.project-file-body {
    padding: 0 20px;
    padding-bottom: 5px;
    line-height: 19px;
}

.project-tech-stack {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

/* TODO: test width and height attribute on image */
.project-tech-stack i,
.project-tech-stack img {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    width: 1.6rem;
    height: 1.6rem;
    margin: 0 5px;
    margin-top: 3px;
}

.project-tech-stack::-webkit-scrollbar {
    display: none;
}

/* End of styling for Projects Section */


/* Start of Styling for social icons section */
.social-icons {
    flex-wrap: wrap;
}

.social-icons a:hover {
    margin-top: -7px;
}

#social-section {
    margin: 0 auto;
}

.about-social-icons {
    font-size: 3rem;
    margin: 5px 10px;
}

.img-x {
    object-fit: contain;
}

#about-me ul {
    list-style: none;
    padding-left: 5px;
}

#about-me ul li,
#about-me ul li a {
    margin: 3px 5px;
    font-size: 24px;
    background-color: rgb(7, 79, 187);
    width: 45px;
    height: 45px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#about-me h3 {
    margin-top: 6px !important;
}

#about-me .card {
    border-radius: 10px;
}

#about-me .card:hover {
    border: 1px solid white;
}

/* Styling for Skills Section */
#skill-stack .container {
    padding: 5px 30px!important;
}

.skills {
    padding: 5px 0px!important;
}

#skill-stack .skills>div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    margin-bottom: 0px;
}

@media (max-width:400px){
    #skill-stack .skills>div {
        height: 7rem;
    }
}

@media (min-width:1200px) {
    #skill-stack .skills>div {
        height: 13rem;
    }
}

.skill-badge {
    border: 2px solid rgb(83, 83, 231);
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    color: black;
}

.skill-badge img {
    width: 100%;
    height: 60%;
    /* TODO: observe effect of removing the font size below */
    /* Requires Internet connection */
    font-size: 55px;
    object-fit: contain;
    transition: 600ms ease;
}

.skill-badge:hover {
    border: 3px solid rgb(111, 111, 225);
    border-radius: 20px;
}

.skill-badge img:hover {
    height: 70%;
}
/* End of Styling for social icons section */
