/*------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  --color-primary: #2c4964;
  --color-secondary: #fff;
  --color-accent: #fd6f53;
  --font-color: #000000;
}
/* Styling for Light Theme */
.theme-light {
  --color-primary: #2c4964;
  --color-secondary: #fff;
  --color-accent: #fd6f53;
  --font-color: #000000;
}

/* Styling for Dark Theme */
.theme-dark {
  --color-primary: #fff;
  --color-secondary: #2c4964;
  --color-accent: #fd6f53;
  --font-color-one: #000000;
}

body {
    font-family: "Roboto", "Open Sans", sans-serif;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #444444;
    font-size: 1rem;
  }

  .bg-dark {
    background-color: #112436 !important;
  }
  
  a {
    color: #1977cc;
    text-decoration: none!important;
  }
  
  a:hover {
    color: #3291e6;
    text-decoration: none;
  }
  
  h2
  {
    font-family: "Raleway", sans-serif;
  }
  
  /*--------------------------------------------------------------
    # Header
    --------------------------------------------------------------*/
  #header {
    /* TODO: Remove ref to former color attr */
    background: rgb(255, 255, 255);
    background: var(--color-secondary);
    transition: all 0.5s;
    z-index: 997;
    padding: 9px 0;
    box-shadow: 0px 2px 21px rgba(25, 119, 204, 0.1);
  }
  
  #header.header-scrolled {
    top: 0;
  }
  
  #header .logo {
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    margin-top: .23rem;
    padding: 0;
    line-height: 1.5;
    letter-spacing: 2.0px;
    font-family: "Poppins", sans-serif;
    z-index: 1000;
  }
  
  #header .logo a {
    /* TODO: Remove ref to former color attr */
    color: #2c4964;
    color: var(--color-primary);
  }
  
  #header .logo img {
    max-height: 40px;
  }
  
  /** Resume Button */
  .resume-btn {
    background: white;
    background: var(--color-secondary);
    border: 1px solid black!important;
    border: 1px solid var(--color-primary)!important;
    border-radius: 50rem!important;
  }
  
  .resume-btn:hover {
    border: 1px solid grey!important;
    background: grey;
    /* TODO: remove ref to former color attr */
    color: #fff!important;
    color: var(--color-secondary)!important;
  }
  
  @media (max-width: 768px) {
    .resume-btn {
      margin: 0 15px 0 0;
      padding: 6px 18px;
    }
  }
  
  /*--------------------------------------------------------------
    # Navigation Menu
    --------------------------------------------------------------*/
  /**
    * Desktop Navigation 
    */
  .navbar {
    padding: 0;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar>ul>li {
    position: relative;
    white-space: nowrap;
    padding: 8px 0 8px 20px;
  }
  
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500!important;
    /* TODO: Remove former ref to color attr */
    color: #2c4964;
    color: var(--color-primary);
    white-space: nowrap;
    transition: 0.3s;
    border-bottom: 2px solid #fff;
    border-bottom: 2px solid var(--color-secondary);
    padding: 5px 2px;
  }
  
  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #1977cc;
    border-color: #1977cc;
  }
  
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 20px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
  }
  
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #082744;
    border: none;
  }
  
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: #1977cc;
  }
  
  .navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  
  .navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  
  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
  
    .navbar .dropdown .dropdown:hover>ul {
      left: -100%;
    }
  }
  
  /** Mobile Navigation */
  .mobile-nav-toggle {
    color: #2c4964;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  }
  
  .mobile-nav-toggle.bi-x {
    color: #fff;
  }
  
  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
  
    .navbar ul {
      display: none;
    }
  }
  
  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(28, 47, 65, 0.9);
    transition: 0.3s;
    z-index: 999;
  }
  
  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 71px;
    right: 0px;
    bottom: 15px;
    left: 0px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
  }
  
  .navbar-mobile>ul>li {
    padding: 0;
  }
  
  .navbar-mobile a,
  .navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #2c4964;
    border: none;
  }
  
  .navbar-mobile a:hover,
  .navbar-mobile .active,
  .navbar-mobile li:hover>a {
    color: #1977cc;
  }
  
  .navbar-mobile .getstarted,
  .navbar-mobile .getstarted:focus {
    margin: 15px;
  }
  
  .navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  }
  
  .navbar-mobile .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar-mobile .dropdown ul a {
    padding: 10px 20px;
  }
  
  .navbar-mobile .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar-mobile .dropdown ul a:hover,
  .navbar-mobile .dropdown ul .active:hover,
  .navbar-mobile .dropdown ul li:hover>a {
    color: #1977cc;
  }
  
  .navbar-mobile .dropdown>.dropdown-active {
    display: block;
  }
  
  /* Sections */
  section {
    padding: 60px 0;
    overflow: hidden;
  }

  /* Greetings */
  .greetings {
    font-size: 25px !important;
    color: white !important;
  }
  
  .greetings .my-name {
    font-size: 50px !important;
    font-weight: bold !important;
    margin-top: 20px !important;
    line-height: 60px !important;
    letter-spacing: 2.3px;
  }
  
  .container h3 {
    color: white;
    margin-top: 20px;
  }
  
  
  .container h3 li {
    list-style: none;
    font-size: 15px;
  }
  
  .loading-after:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4, end) 900ms infinite;
    animation: ellipsis steps(4, end) 900ms infinite;
    content: "\2026";
    width: 0px;
  }
  
  @keyframes ellipsis {
    to {
      width: 1.25em;
    }
  }
  
  @-webkit-keyframes ellipsis {
    to {
      width: 1.25em;
    }
  }
  
  .cute {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background-size: 100%;
    background-clip: text;
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
  
  .banner {
    background: #fff;
    font-family: Lato, sans-serif;
  }
  .navbar-nav-primary {
    text-transform: uppercase;
  }
  

  /* STyling for FULLPAGE DARK SEARCH SCREEN */
  .dark-screen {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    opacity: 0.9;
    background-color: black;
    z-index: 1000;
    text-align: center;
}

#close-search {
    position: absolute;
    font-size: 2.0em;
    font-weight: bold;
    right: 2rem;
    top: 2rem;
    color: white;
    border: none;
    opacity: 1;
}

#close-search:hover {
    box-shadow: none;
    color: red !important;
}

.search-form {
    position: absolute;
    top: 38%;
    width: 80%;
    font-size: 2rem;
    margin-left: 10.5%;
}

#search {
    top: 45%;
    font-size: 2rem;
    background: transparent;
    color: white;
    border: none;
    border-bottom: 4px solid rgb(245, 8, 8);
    padding-bottom: 1.3rem;
    padding-left: 3.7rem;
}

#search::placeholder {
    color: white;
}

#search:focus {
    box-shadow: none;
}

#search-lens {
    position: absolute;
    color: red;
    top: .5rem;
    left: 0;
}
  
  /* END of STyling for FULLPAGE DARK SEARCH SCREEN */

/* Start of styling for main page hero */
#hero {
  width: 100%;
  height: 70vh;
  background: grey;
  background-image: url("../images/bg.webp"); /*, url("../images/bg.webp"), url("../images/bg.png"); */
  background-color: rgba(0, 0, 0, 0.7);
  background-size: cover;
  background-blend-mode: overlay;
  /* margin-bottom: -100px; */
}

#hero .container {
  position: relative;
}

#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #2c4964;
}

#hero h2 {
  color: #2c4964;
  margin: 10px 0 0 0;
  font-size: 24px;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 35px;
  margin-top: 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
  background: red;
}

#hero .btn-get-started:hover {
  background: #d76563;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 400px) {
  #hero {
    margin-bottom: 0;
    height: 65vh;
  }

  #hero .container {
    padding-bottom: 63px;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

@media (max-height: 600px) {
  #hero {
    height: 70vh;
  }
}

/* Styling for service section */
.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.services-list div {
  background: darkgrey;
  color: #fff;
  padding: 40px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
} 

.services-list div i{
font-size: 50px;
margin-bottom: 30px;
}

.services-list div:hover{
background: lightskyblue;
transform: translateY(-10px);
color: #fff;
}

.services-list div a:hover{
  color: #fff;
}

.footer-social-icons a {
  display: inline-flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  margin: 0 3px;
}

.footer-social-icons a:hover {
  margin-top: -8px;
}

:root {
  --bs-body-font-weight: 370!important;
}

h6 {
  font-size: 1.1rem!important;
}